[submodule "libs/glfw/source/glfw"]
	path = libs/glfw/source/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/glm/source/glm"]
	path = libs/glm/source/glm
	url = https://github.com/g-truc/glm
[submodule "libs/assimp/source/assimp"]
	path = libs/assimp/source/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt.git
